*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background: linear-gradient(100deg, rgba(210,160,237,1) 0%, rgba(175,17,223,1) 100%);
}

h1{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    color: white;
}


form{
    position: absolute;
    display:flex;
    flex-direction: column;
    width: 20vw;
    height: 55vh;
    color: white;
    text-align: center;
    left: 40%;
}

label{
    padding-bottom: 5%;
}

input{
    margin-bottom: 5%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 20px;
    width: 20vw;
    border-style: none;
}

.submitButton{
    position: absolute;
    top: 100%;
    left: 28%;
    margin-top: 5%;
    padding: 5%;
    border-radius: 10px;
    width: 10vw;
}


.resultButton{
    position: absolute;
    left: 28%;
    top: 120%;
    height: 5vh;
    width: 10vw;
    border-radius: 10px;
    border-style: none;
}


a{
    text-decoration: none;
}



#container{
    display: flex;
}

.bigFont{
    font-size: 20px;
}


p{
    position: relative;
    bottom: 100%;
    left: 40%;
}

img{
    height: 25vh;
    width: 10vw;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;;
    background-color: white;
}

.cardContainer{
    background-color: blueviolet; 
    color: white;
    width: 25vw;
    height: 25vh;
    border-radius: 20px;
    margin-left: 5%;
    margin-top: 5%;
    box-shadow: 0, 1px, 1px, 0;
}

