*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background: rgb(166,107,212);
    background: linear-gradient(180deg, rgba(166,107,212,1) 0%, rgba(88,32,133,1) 100%);
   
    
}
h1{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    color: white;
}


form{
    position: absolute;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    width: 40vw;
    height: 80vh;
    border: 2px solid white;
    box-shadow: 3px 3px 0px 3px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: white;
    text-align: center;
    left: 30%;
}

label{
    padding-bottom: 3%;

}

input{
    margin-bottom: 5%;
    padding: 1%;
    border-radius: 20px;
    width: 20vw;
    border-style: none;
}

.submitButton{
   
    padding: 2%;
    border-radius: 10px;
    width: 10vw;
}


.resultButton{
    padding: 2%;
    width: 10vw;
    border-radius: 10px;
    border-style: none;
    display: none;
    
}


a{
    text-decoration: none;
    color: #000;
}



#container{
    display: flex;
}

.bigFont{
    font-size: 20px;
}


p{
    position: relative;
    bottom: 100%;
    left: 40%;
}

img{
    height: 25vh;
    width: 10vw;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;;
    background-color: white;
}

.cardContainer{
    background-color: blueviolet; 
    color: white;
    width: 25vw;
    height: 25vh;
    border-radius: 20px;
    margin-left: 5%;
    margin-top: 5%;
    box-shadow: 3px 3px 0px 3px rgba(0, 0, 0, 0.25);
}

